; Sources
Dyson Sphere Program
./Dyson Sphere Program/*
; Compiled
Output
./Output/*
; Fonts
;Fonts
;./Fonts/*
; Redistributables
;Redist
;./Redist/*
; Junks
*.bak
*.tmp
tmp
*/tmp
*/tmp/*
; Archives
*.7z
*.zip
*/*.7z
*/*.zip
;*/git
;*/git/*
;*/.git
;*/.git/*
