[String]

## Smelter MK. I
# Setting type: String
# Default value: 冶炼厂MK。 I
10500 = 冶炼厂MK。 I

## Smelter MK. II
# Setting type: String
# Default value: 冶炼厂MK。 II
10501 = 冶炼厂MK。 II

## Smelter MK. III
# Setting type: String
# Default value: 冶炼厂MK。 III
10503 = 冶炼厂MK。 III

## 1.5x the speed of a Smelter MK. I
# Setting type: String
# Default value: 冶炼厂速度的1.5倍
10502 = 冶炼厂速度的1.5倍

## 2x the speed of a Smelter MK. I
# Setting type: String
# Default value: 速度是冶炼厂MK的2倍。一世
10504 = 速度是冶炼厂MK的2倍。一世

## Storage MK. III
# Setting type: String
# Default value: 储存MK。三级
10600 = 储存MK。三级

## Storage tank MK. II
# Setting type: String
# Default value: 储罐MK。 II
10601 = 储罐MK。 II

## Holds twice as many items as a Storage MK. II
# Setting type: String
# Default value: 容纳的物品数量是存储MK的两倍。 II
10602 = 容纳的物品数量是存储MK的两倍。 II

## Holds 4x the fluid as a Storage tank MK. I
# Setting type: String
# Default value: 可以将4倍的液体作为MK储存箱。一世
10604 = 可以将4倍的液体作为MK储存箱。一世

